html
  head
    title My Wedding Site

  link(href="https://www.w3schools.com/w3css/4/w3.css", rel="stylesheet")
  link(href="https://fonts.googleapis.com/css?family=Poppins", rel="stylesheet")
  link(href="../Server/utilities/wedding.css")

  body

    // HTML Sidebar/menu
    nav(class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding"
      style="z-index:3;width:300px;font-weight:bold;"
      id="mySidebar")
      a(href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px") Close Menu
      div(class="w3-container")
        h3(class="w3-padding-64") 
          b My Wedding Site
        h3(class="w3-bar-block")
          a(href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white") Home
          a(href="#where" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white") Dove
          a(href="#when" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white") Quando
          hr(style="width:50px;border:5px solid white" class="w3-round")
          a Login
          a(href="/console" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white") Console
    
    // HTML Top menu on small screens
    header(class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding")
      a(href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()")    <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰
      span My wedding Site
    
    // HTML Overlay effect when opening sidebar on small screens
    div(class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="Close side menu" id="myOverlay")
  
    // HTML Page content
    div(class="w3-main" style="margin-left:340px;margin-right:40px")

      // Header
      div(class="w3-container" style="margin-top:80px" id="showcase")
        h1(class="w3-jumbo") 
          b My Wedding Site
        h1(class="w3-xxxlarge w3-text-red") 
          b Experimental Wedding Site template
        hr(style="width:50px;border:5px solid red" class="w3-round")
      
      div(class="w3-container" id="notification" style="margin-top:75px")
      if notification.show
        if notification.error
          div(class="w3-display-container")
            div( class="w3-panel w3-red w3-round-xxlarge")
              span(onclick="clear_notification()" class="w3-button w3-display-bottomright") Chiudi notifica
              h3 ERRORE!
              p #{notification.message}
        
        if notification.working && notification.error === false
          div(class="w3-display-container")
            div( class="w3-panel w3-yellow w3-round-xxlarge")
              span(onclick="this.parentElement.style.display='none'" class="w3-button w3-display-bottomright") Chiudi notifica
              h3 ATTENZIONE!
              p #{notification.message}
        
        if notification.working === false && notification.error === false
          div(class="w3-display-container")
            div( class="w3-panel w3-green w3-round-xxlarge")
              span(onclick="clear_notification()" class="w3-button w3-display-bottomright") Chiudi notifica
              h3 ESECUZIONE TERMINATA!
              p #{notification.message}
              
      // Where
      div(class="w3-container" id="where" style="margin-top:75px")
        h1(class="w3-xxxlarge w3-text-red") 
          b Dove:
        hr(style="width:100px;border:5px solid red" class="w3-round")
        p Alla Locanda dei Fienili del Campiaro
        p Località Campiaro, 112/C, 40030 Grizzana Morandi BO
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2857.2507354013273!2d11.1464933158893!3d44.26366097910517!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132ac4d992861b8b%3A0xa48831a432ba3d4f!2sLocanda+dei+Fienili+del+Campiaro!5e0!3m2!1sit!2sit!4v1498075104558" width="800" height="600" frameborder="0" style="border:0" allowfullscreen)

      // When
      div(class="w3-container" id="when" style="magin-top:75px")
        h1(class="w3-xxxlarge w3-text-red")
          b Quando:
        hr(style="width:100px;border:5px solid red" class="w3-round")
        p Vi aspettiamo il giorno 8 ottobre 2017
        p Orario: [placeholder]
        
      // HTML W3.CSS Container
      div(class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px")
        p(class="w3-right") Powered by 
          a(href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity") w3.css
      
      script
        include ../Server/utilities/functions.js