html
  head
    title My Wedding Site

  link(href="https://www.w3schools.com/w3css/4/w3.css", rel="stylesheet")
  link(href="https://fonts.googleapis.com/css?family=Poppins", rel="stylesheet")
  
  style.
    body,
      h1,
      h2,
      h3,
      h4,
      h5 {
        font-family: "Poppins", sans-serif
      }

      body {
        font-size: 16px;
      }

      .w3-half img {
        margin-bottom: -6px;
        margin-top: 16px;
        opacity: 0.8;
        cursor: pointer
      }

      .w3-half img:hover {
        opacity: 1
      }

      .w3-pearl,
      .w3-hover-pearl:hover {
        color: #808080!important;
        background-color: #EAE0C8!important
      }
      
      .w3-text-pearl{color:#EAE0C8!important}

      [type="checkbox"]:not(:checked),
      [type="checkbox"]:checked {
        position: absolute;
        left: -9999px;
      }

      [type="checkbox"]:not(:checked)+label,
      [type="checkbox"]:checked+label {
        position: relative;
        padding-left: 95px;
        cursor: pointer;
      }

      [type="checkbox"]:not(:checked)+label:before,
      [type="checkbox"]:checked+label:before,
      [type="checkbox"]:not(:checked)+label:after,
      [type="checkbox"]:checked+label:after {
        content: '';
        position: absolute;
      }

      [type="checkbox"]:not(:checked)+label:before,
      [type="checkbox"]:checked+label:before {
        left: 0;
        top: 0;
        width: 80px;
        height: 30px;
        background: #DDDDDD;
        border-radius: 6px;
        transition: background-color .2s;
      }

      [type="checkbox"]:not(:checked)+label:after,
      [type="checkbox"]:checked+label:after {
        width: 30px;
        height: 30px;
        transition: all .2s;
        border-radius: 6px 0 0 6px;
        background: #7F8C9A;
        top: 0;
        left: 0;
      }
      /* on checked */

      [type="checkbox"]:checked+label:before {
        background: #34495E;
      }

      [type="checkbox"]:checked+label:after {
        background: #ff0000;
        top: 0;
        left: 51px;
        border-radius: 0 6px 6px 0;
      }

      [type="checkbox"]:checked+label .ui,
      [type="checkbox"]:not(:checked)+label .ui:before,
      [type="checkbox"]:checked+label .ui:after {
        position: absolute;
        left: 6px;
        width: 65px;
        border-radius: 15px;
        font-size: 14px;
        font-weight: bold;
        line-height: 22px;
        transition: all .2s;
      }

      [type="checkbox"]:not(:checked)+label .ui:before {
        font-family: 'FontAwesome';
        content: "\f00d";
        left: 46px;
        margin-top: 3px;
      }

      [type="checkbox"]:checked+label .ui:after {
        font-family: 'FontAwesome';
        content: "\f00c";
        color: #ff0000;
        margin-top: 3px;
        left: 12px;
      }

      [type="checkbox"]:focus+label:before {
        border: 0;
        outline: 0;
        box-sizing: border-box;
      }

  body

    // HTML Sidebar/menu
    nav(class="w3-sidebar w3-pearl w3-collapse w3-top w3-large w3-padding"
      style="z-index:3;width:300px;font-weight:bold;"
      id="mySidebar")
      a(href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px") Close Menu
      div(class="w3-container")
        h3(class="w3-padding-64") 
          b #{titles.title}
        h3(class="w3-bar-block")
          a(href="/" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-sand") Home
    
    // HTML Top menu on small screens
    header(class="w3-container w3-top w3-hide-large w3-pearl w3-xlarge w3-padding")
      a(href="javascript:void(0)" class="w3-button w3-sand w3-margin-right" onclick="w3_open()")    <a href="javascript:void(0)" class="w3-button w3-sand w3-margin-right" onclick="w3_open()">☰
      span #{titles.subtitle}
    
    // HTML Overlay effect when opening sidebar on small screens
    div(class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="Close side menu" id="myOverlay")
  
    // HTML Page content
    div(class="w3-main" style="margin-left:340px;margin-right:40px")

      // Header
      div(class="w3-container" style="margin-top:80px" id="showcase")
        h1(class="w3-jumbo w3-text-pearl") 
          b #{titles.title}
        h1(class="w3-xxxlarge w3-text-gray") 
          b #{titles.subtitle}
        hr(style="width:200px;border:5px solid gray" class="w3-round")

      div(class="w3-container" id="notification" style="margin-top:75px")
      if notification.show
        if notification.error
          div(class="w3-display-container")
            div( class="w3-panel w3-red w3-round-xxlarge")
              span(onclick="clear_notification()" class="w3-button w3-display-bottomright") Chiudi notifica
              h3 ERRORE!
              p #{notification.message}

        if notification.error === false
          div(class="w3-display-container")
            div( class="w3-panel w3-green w3-round-xxlarge")
              span(onclick="clear_notification()" class="w3-button w3-display-bottomright") Chiudi notifica
              h3 ESECUZIONE TERMINATA!
              p #{notification.message}
                      
      // Login form
      div(class="w3-container" id="login" style="margin-top:75px")
        h1(class="w3-xxxlarge w3-text-pearl"): b Effettua il login
        hr(style="width:200px;border:5px solid gray" class="w3-round")
        p Loggati per accedere alla console
        
        // Form
        form(action="/login" method="POST" type="application/x-www-form-urlencoded")
          div(class="w3-section")
            input(name="Username" type="text" id="username")
            label(for="username")  Username 
          div(class="w3-section")
            input(name="Password" type="password" id="password")
            label(for="password")  Password
          button(type="submit" value="Invia" class="w3-button w3-block w3-padding-large w3-pearl w3-margin-bottom") Invia
          button(type="reset" value="Cancella" class="w3-button w3-block w3-padding-large w3-pearl w3-margin-bottom") Cancella

      // HTML W3.CSS Container
      div(class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px")
        p(class="w3-right") Powered by 
          a(href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity") w3.css
      
      script
        include ../Server/utilities/functions.js