<!DOCTYPE html>
html
  head
    include includes/header.pug

  body(class="body-bg")
    include includes/menu.pug

    // HTML Page content
    div(class="container-fluid" id="#")
      include includes/notifications.pug
      // First row
      div(class="row")
        // Invite guests
        div(class="col-xs-10 col-xs-offset-1 col-sm-10 col-xs-offset-1 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 body-element" id="invite")
          div(class="console-title"): h1 Inserisci invitato
          p Inserisci i dati dell'invitato per poterlo salvare nel database
          form(action="/guest/insert" method="POST" type="application/x-www-form-urlencoded")
          div(class="form-group")
            label(for="name")  Nome:
            input(name="name" type="text" id="name" class="form-control")
          div(class="form-group")
            label(for="surname")  Cognome:
            input(name="surname" type="text" id="surname" class="form-control")
          div(class="form-group")
            label(for="email")  Indirizzo email:
            input(name="email" type="text" id="email" class="form-control")
          div(class="form-group")
            label(for="expected")  Invitati attesi:
            input(name="expected" type="text" id="expected" class="form-control")
          div(class="form-group")
            input(name="skipMail" type="checkbox" id="skipMail" class="form-control")
            label(for="skipMail") Seleziona per non inviare le e-mail
              span(class="ui")
          div(class="form-group")
            label(for="presence") Parteciperà?
            select(name="presence" id="presence" class="form-control")
              option(value="Y") Parteciperà
              option(value="M") Forse
              option(value="N") Non parteciperà
          div(class="btn-group btn-group-lg pull-right")
            input(type="submit" value="Inserisci" class="btn btn-default")
            input(type="reset" value="Cancella" class="btn btn-default")
      // Second row
      div(class="row")
        // Update guests
        div(class="col-xs-10 col-xs-offset-1 col-sm-10 col-xs-offset-1 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 body-element" id="update")
          div(class="console-title"): h1 Aggiorna un invitato
          p Seleziona dal menù un invitato per aggiornare i suoi dati
          form(action="/guest/getdata" method="POST" type="application/x-www-form-urlencoded")
            div(class="form-group")
              label(for="guest_id") Invitati presenti sul database
              select(name="guest_id" class="form-control")
                option(value="nil") --Seleziona l'invitato da aggiornare--
                each val in guests
                  option(value=val._id.toHexString()) #{val.name} #{val.surname}
            div(class="btn-group btn-group-lg pull-right")
              input(type="submit" value="Aggiorna" class="btn btn-default")
      div(class="row")
        // Delete guest
        div(class="col-xs-10 col-xs-offset-1 col-sm-10 col-xs-offset-1 col-md-offset-4 col-lg-4 col-lg-offset-4 body-element" id="delete")
          div(class="console-title"): h1 Cancella un invitato
          p Seleziona dal menù un invitato per cancellare i suoi dati
          form(action="/guest/delete" method="POST" type="application/x-www-form-urlencoded")
            div(class="form-group")
              label(for="guest_id") Invitati presenti sul database
              select(name="guest_id" class="form-control")
                option(value="nil") --Seleziona l'invitato da cancellare--
                each val in guests
                  option(value=val._id.toHexString()) #{val.name} #{val.surname}
            div(class="btn-group btn-group-lg pull-right")
              input(type="submit" value="Cancella" class="btn btn-default")

      include includes/footer.pug
      
      script
        include ../../utilities/functions.js