html
  head
    title #{titles.main}

  link(href="https://www.w3schools.com/w3css/4/w3.css", rel="stylesheet")
  link(href="https://fonts.googleapis.com/css?family=Poppins", rel="stylesheet")
  link(href="../CSS/wedding.css", rel="stylesheet")
  
  body.bkimg

    // HTML Sidebar/menu
    nav(class="w3-sidebar w3-pearl w3-collapse w3-top w3-large w3-padding"
      style="z-index:3;width:300px;font-weight:bold;"
      id="mySidebar")
      a(href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px") Close Menu
      div(class="w3-container")
        h3(class="w3-padding-64") 
          b #{titles.title}
        h3(class="w3-bar-block")
          a(href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-sand") Home
          a(href="#where" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-sand") Dove
          a(href="#when" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-sand") Quando
          a(href="/guest/rsvp" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-sand") Parteciperai?
          a(href="mailto:#{site.contact}?subject=Richiesta%20informazioni" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-sand") Contattaci
          
    // HTML Top menu on small screens
    header(class="w3-container w3-top w3-hide-large w3-pearl w3-xlarge w3-padding")
      a(href="javascript:void(0)" class="w3-button w3-sand w3-margin-right" onclick="w3_open()")    <a href="javascript:void(0)" class="w3-button w3-sand w3-margin-right" onclick="w3_open()">☰
      span #{titles.subtitle}
    
    // HTML Overlay effect when opening sidebar on small screens
    div(class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="Close side menu" id="myOverlay")
  
    // HTML Page content
    div(class="w3-main" style="margin-left:340px;margin-right:40px")

      // Header
      div(class="w3-container" style="margin-top:80px" id="showcase")
        h1(class="w3-jumbo w3-text-pearl") 
          b #{titles.title}
        h1(class="w3-xxxlarge w3-text-gray") 
          b #{titles.subtitle}
        hr(style="width:300px;border:5px solid gray" class="w3-round")
      
      div(class="w3-container" id="notification" style="margin-top:75px")
      if notification.show
        if notification.error
          div(class="w3-display-container")
            div( class="w3-panel w3-red w3-round-xxlarge")
              span(onclick="clear_notification()" class="w3-button w3-display-bottomright") Chiudi notifica
              h3 ERRORE!
              p #{notification.message}
        
        if notification.working === false && notification.error === false
          div(class="w3-display-container")
            div( class="w3-panel w3-green w3-round-xxlarge")
              span(onclick="clear_notification()" class="w3-button w3-display-bottomright") Chiudi notifica
              h3 ESECUZIONE TERMINATA!
              p #{notification.message}
              
      // Where
      div(class="w3-container" id="where" style="margin-top:75px")
        h1(class="w3-xxxlarge w3-text-pearl") 
          b Dove:
        hr(style="width:300px;border:5px solid gray" class="w3-round")
        p La cerimonia ed il ricevimento si terranno alla 
          a(href="http://www.locandafienilidelcampiaro.it/") Locanda dei Fienili del Campiaro
        p presso: Località Campiaro, 112/C, 40030 Grizzana Morandi BO
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2857.2507354013273!2d11.1464933158893!3d44.26366097910517!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132ac4d992861b8b%3A0xa48831a432ba3d4f!2sLocanda+dei+Fienili+del+Campiaro!5e0!3m2!1sit!2sit!4v1498075104558" width="800" height="600" frameborder="0" style="border:0" allowfullscreen)

      // When
      div(class="w3-container" id="when" style="magin-top:75px")
        h1(class="w3-xxxlarge w3-text-pearl")
          b Quando:
        hr(style="width:300px;border:5px solid gray" class="w3-round")
        p Vi aspettiamo il giorno Domenica 8 ottobre 2017
        p Orario: 11:30
        br
        p Mancano ancora...
        p(id="countdown" style="font-size:32px")

        
      // HTML W3.CSS Container
      div(class="w3-pearl w3-container w3-padding-32" style="margin-top:75px;padding-right:58px")
        p(class="w3-left") Sito creato da Alessandro Antonello Ivaldi
        
        p(class="w3-right")
           a(href="/console" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-sand") Amministrazione
           br
           | Powered by
           a(href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity") w3.css
      
      script
        include ../../utilities/functions.js