html
  head
    include includes/header.pug

  body(class="body-bg")
    include includes/menu.pug
    
      include includes/notifications.pug

    // HTML Page content
    div(class="container-fluid" id="#")
      div(class="row")
        // List guests
        div(class="col-xs-10 col-xs-offset-1 col-sm-10 col-xs-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 body-element" id="list")
          div(class="console-title"): h1 Lista invitati
          table(class="table")
            tr
            each val in headers
              th #{val}
            each val in guests 
              tr
                td #{val.name}
                td #{val.surname}
                td #{val.email}
                if val.skip_email = false
                  td Non inviare mail
                else
                  td Invia mail
                td #{val.expected_number}
                if val.attendance = "Y"
                  td Parteciperà
                else if val.attendance = "M"
                  td Forse
                else
                  td Non parteciperà
                td #{val.generated_token}

      include includes/footer.pug

      script
        include ../../utilities/functions.js